
body{ 
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        }
  
nav     {background-color: #8d3e0a44;

        padding: 2px;
        text-align: center;
        }   

nav a   {color: white;
        margin: 0 15px;
        text-decoration: bold;
        
        }   

nav a:hover {text-decoration: none;
            }

h1, h2, h3 {color: #6d4804;
                text-align: center;
                margin: 0;
                padding: 10px;
                }
        
        

p       {color: #0e0900;
            }


/* 3. Add a CSS rule to style the <h1> element in the same way as the <h2> and <h3> elements. */        

